@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  html { scroll-behavior: smooth; }
  body { @apply bg-white text-gray-900 dark:bg-[#030711] dark:text-[#f3f4f6] transition-colors duration-300; }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 5s ease infinite;
  display: inline-block; /* Importante para o gradiente de texto funcionar */
}